*{
    margin: 0px;
    }

    a{
      color: #FFFFFF;
    }
.name {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    font-size: 20px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 150px auto auto;
    height: 100vh;
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 120px auto auto auto auto;
    }

    aside,
    main {
        grid-column: 1 / 2;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    }

    .subtitle {
        font-size: 13px;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
    }

    .headercontent img {
        height: 110px !important;
        width: auto;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebarLeft {
        width: 100% !important;
    }

    footer {
      grid-template-columns: 1/2;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    background: #2E5496;
    overflow: visible;
}

.headercontent {
    display: flex;
    align-items: center;
}

.headercontent img {
    width: auto; 
    height: 130px;
    margin-right: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

footer {
    grid-column: 1 / 4;
    background: #2E5496;
    display: block;
}

aside{
    background: #474E5E;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebarLeft {
  background-color: #34495e;
  padding: 20px;

  box-sizing: border-box;
}

.sidebarLeft h3,
.sidebarLeft p, 
.sidebarLeft ul {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.sidebarLeft h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #2980b9;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.sidebarLeft h3 .icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.sidebarLeft p,
.sidebarLeft li {
  margin: 5px 0;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
}

.progress-bar {
  background-color: #95a5a6;
  border-radius: 4px;
  height: 8px;
  margin: 5px 0 10px;
  overflow: hidden;
  width: 100%;
}

.progress-bar div {
  background-color: #3498db;
  height: 100%;
}

.qr-code img {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: auto;
}

main ul {
  padding: 0;

  list-style-position: inside;
}

    footer {
        grid-template-columns: 1/-1;
    }

main h2 {
  margin-bottom: 20px;
  color: #0056b3;
  text-decoration: underline #A5BAE3 5px;
}

.timeline-item .date {
    font-size: 19px;
    font-weight: bold;
    color: #777;
    list-style-position: inside;
}

.timeline-item li::marker{
  color: #0056b3;
  font-size: 30px;
}

.timeline-item .content {
    background: #f9f9f9;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

main h3, h4 {
    color: #0056b3;
    margin-bottom: 5px;
}

hr {
  border: 3px solid #3B6BC1;
}

.sidebarRight {
  background-color: #34495e;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sidebarRight h3,
.sidebarRight p, 
.sidebarRight ul {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.sidebarRight ul {
    list-style:disc;
    list-style-position: inside;
    font-weight: bold;
    border-bottom: 2px solid #2980b9;
}

.sidebarRight h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.sidebarRight h3 .icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.sidebarRight p,
.sidebarRight li {
  margin: 5px 0;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebarRight img {
    width: 80%;
}

.footer {
    background-color: #2a4e8c;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .icon {
  width: 30px;
}
